@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

@layer base {
    body {
        @apply font-roboto text-grey-dark text-lg 3xl:text-xl bg-white-dark
    }
    .swiper {
        width: 100% !important;
        height: auto !important;
    }
}

@layer components {
    .shadow {
        box-shadow: 11px 11px 6px #00000014 !important;
    }
    .shadow-2 {
        box-shadow: 0px 11px 11px #00000017 !important;
    }
    .shadow-3 {
        box-shadow: 0px 11px 11px #60606024 !important;
    }
}